<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update blog</title>
    <link rel="stylesheet" href="/css/editblog.css" />
  </head>
  <body>
    <h1>Update Blog</h1>
    <% updateblog.forEach((blog)=>{ %>
    <form action="/update/<%= blog._id %>" method="post" class="container">
      <label>
        Blog Heading
        <input
          type="text"
          placeholder="Blog Heading"
          name="heading"
          value="<%= blog.heading %>"
        />
      </label>
      <label>
        Small Blog
        <input
          type="text"
          placeholder="Small Heading"
          name="smallHeading"
          value="<%= blog.smallblog %>"
        />
      </label>
      <label>
        Img URL
        <input
          type="text"
          placeholder="Image URL"
          name="img"
          value="<%= blog.img %>"
        />
      </label>
      <label>
        Blog
        <textarea value="hoga" name="blog" cols="10" rows="30">
<%= blog.bigblog %></textarea
        >
      </label>
      <% }) %>
      <button type="submit">Update</button>
    </form>
  </body>
</html>
